.principal {
  #slogan {
    position: absolute;
    top: 10%;
    left: 10%;
    max-width: 345px;

    img {
      max-height: 80vh;
    }
  }
  #logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      max-height: 65vh;
    }
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .principal {
    #slogan {
      top: 3%;
      left: 3%;
      img {
        max-height: 30vh;
      }
    }
    #logo {
      img {
        min-height: 40vh;
      }
      h2 {
        margin-top: 25px;
        text-align: center;
        width: 60%;
        font-size: $mobile-font-size;
      }
    }
  }
}
