$background-color: #525252;
$text-color: #14c4af;
$border-color: #0a7c6f;
$bars: rgba(0, 0, 0, 0.3);
$text-shadow: -3px 3px 5px #000000;
$mobile-font-size: 1.5em;

@import "./principal";
@import "./game";
@import "./bonde";

@font-face {
  font-family: Ostrich;
  src: url("../font/OSTRICHSANS-HEAVY.OTF") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  background: $background-color;
  background: url("../assets/background.jpg") center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: Ostrich;
  color: $text-color;
}

h2,
h3,
p {
  font-size: 3.5em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $border-color;
  text-shadow: $text-shadow;
}

#wrapper {
  height: 100vh;

  section {
    display: flex;
    height: 100vh;
  }
}
