.principal #slogan {
  position: absolute;
  top: 10%;
  left: 10%;
  max-width: 345px;
}

.principal #slogan img {
  max-height: 80vh;
}

.principal #logo {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.principal #logo img {
  max-height: 65vh;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .principal #slogan {
    top: 3%;
    left: 3%;
  }
  .principal #slogan img {
    max-height: 30vh;
  }
  .principal #logo img {
    min-height: 40vh;
  }
  .principal #logo h2 {
    margin-top: 25px;
    text-align: center;
    width: 60%;
    font-size: 1.5em;
  }
}

.game {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.game #logoGame {
  position: absolute;
  left: 3%;
  top: 5%;
}

.game #logoGame img {
  min-height: 25vh;
}

.game #topbar {
  width: 100%;
  min-height: 150px;
  background: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 55px;
}

.game #dan {
  height: calc(100vh - 150px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game #dan a {
  border: none;
  text-align: center;
}

.game #dan img {
  max-width: 900px;
  width: 90%;
}

.game #dan h2 {
  margin-top: 25px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .game #logoGame {
    left: 0;
    max-width: 50%;
  }
  .game #topbar {
    padding-right: 5px;
  }
  .game #topbar img {
    max-width: 50%;
  }
  .game #dan img {
    max-width: 80%;
  }
  .game #dan h2 {
    font-size: 1.5em;
  }
}

.bonde {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bonde #logoBonde {
  position: absolute;
  left: 3%;
  top: 5%;
  z-index: 10;
}

.bonde #logoBonde img {
  min-height: 50vh;
}

.bonde #triangle {
  width: 100%;
  height: 40vh;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
          clip-path: polygon(100% 0, 0 0, 0 100%);
  z-index: 1;
}

.bonde #sloganBonde {
  height: 60vh;
}

.bonde #sloganBonde img {
  height: 100%;
  max-height: 470px;
  margin: 50px;
}

.bonde #approved {
  width: 325px;
  height: 325px;
  position: absolute;
  bottom: 10%;
  left: 20%;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  background: url("../assets/approvedByCaramelDog.png");
  background-size: cover;
}

.bonde #crew {
  width: 55%;
  height: 70vh;
  position: absolute;
  right: 5%;
  bottom: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bonde #crew #arrows {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bonde #crew #people {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bonde #crew #people #person {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.bonde #crew #people #person div {
  margin-right: 15px;
}

.bonde #crew #people #person h3 {
  font-size: 2.5em;
  text-align: right;
}

.bonde #crew #people #person p {
  font-size: 1.8em;
  text-align: right;
}

.bonde #crew #people #person img {
  width: 193px;
  margin-right: 15px;
  border-radius: 50%;
  border: 10px rgba(0, 0, 0, 0.3) solid;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .bonde #logoBonde {
    top: 2%;
    left: 2%;
  }
  .bonde #logoBonde img {
    min-height: 25vh;
  }
  .bonde #triangle {
    height: 25vh;
  }
  .bonde #sloganBonde {
    margin-top: 40vh;
    height: 30vh;
  }
  .bonde #sloganBonde img {
    margin: 0 0 5vh 2vh;
  }
  .bonde #approved {
    top: 12%;
    left: 90%;
    -webkit-transform: translateX(-100%) rotate(345deg);
            transform: translateX(-100%) rotate(345deg);
    width: 150px;
    height: 150px;
  }
  .bonde #crew {
    right: 5%;
    bottom: 0;
    width: 90%;
    padding: 25px;
  }
  .bonde #crew #arrows {
    display: none;
  }
  .bonde #crew #people {
    width: 100%;
  }
  .bonde #crew #people #person {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .bonde #crew #people #person div {
    width: 100%;
  }
  .bonde #crew #people #person img {
    width: 100px;
    height: 100px;
  }
  .bonde #crew #people #person h3 {
    font-size: 1.5em;
  }
  .bonde #crew #people #person p {
    font-size: 1.2em;
  }
}

@font-face {
  font-family: Ostrich;
  src: url("../font/OSTRICHSANS-HEAVY.OTF") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  background: #525252;
  background: url("../assets/background.jpg") center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: Ostrich;
  color: #14c4af;
}

h2,
h3,
p {
  font-size: 3.5em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0a7c6f;
  text-shadow: -3px 3px 5px #000000;
}

#wrapper {
  height: 100vh;
}

#wrapper section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}
/*# sourceMappingURL=styles.css.map */